/* --- From layout: START--- */
blockquote {
    border-color: #ff0000;
}

figure.logo, aside.alsoby li a:hover, aside.kudo.complete span.circle {
    background-color: #ff0000;
}

section.preview header#begin h2, ul#user_meta a:hover, nav.pagination span.next a, nav.pagination span.prev a {
    color: #ff0000;
}

ul#user_meta a:hover, nav.pagination span.next a, nav.pagination span.prev a {
    border-color: #ff0000;
}

::-moz-selection {
    background: #ff0000;
    color: #fff;
    text-shadow: none;
}

::selection {
    background: #ff0000;
    color: #fff;
    text-shadow: none;
}
/* --- From layout: END --- */


header#begin {
    border-bottom: 1px solid #E2E2E2
}
article.post {
    border-top:0;
}
pre, pre.prettyprint {
    border: 0!important;
    padding: 0!important;
}

/* Account for not having illegal <p> in sidebar <h3>*/
header#sidebar h3 {
    color: #4D4D4D;
    font-size: 15px;
    font-weight: 400;
    line-height: 23px;
    margin-bottom: 20px;
    margin-top: 20px;
}